<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> Pokemon Database </a>
    <div class="navbar">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">
          Home <span class="sr-only">(current)</span>
        </a>
        <a class="nav-link" href="Pokemon_List"> Pokemon List</a>
        <a class="nav-link" href="Pokemon_Strong"> Strengths Checker </a>
        <a class="nav-link" href="Pokemon_Weak"> Weaknesses Checker </a>
        <a class="nav-link" href="Pokemon_New"> New Pokemon </a>
        <a class="nav-link" href="logout"> Logout </a> 
        <a class="nav-link" href="Login_User"> Log-In </a>
        <a class="nav-link" href="Create_User"> Register </a>
        
      </div>
    </div>
  </nav>
</header>
;
